<div id="control">
	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="/">Home</a>
	  <a href="/feature1">Feature 1</a>
	  <a href="/feature2">Feature 2</a>
	</div>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>