<head>
	<title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>

		body {
		  font-family: "Lato", sans-serif;
		}

		.sidenav {
		  height: 100%;
		  width: 0;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: #111;
		  overflow-x: hidden;
		  transition: 0.5s;
		  padding-top: 60px;
		}

		.sidenav a {
		  padding: 8px 8px 8px 32px;
		  text-decoration: none;
		  font-size: 25px;
		  color: #818181;
		  display: block;
		  transition: 0.3s;
		}

		.sidenav a:hover {
		  color: #f1f1f1;
		}

		.sidenav .closebtn {
		  position: absolute;
		  top: 0;
		  right: 25px;
		  font-size: 36px;
		  margin-left: 50px;
		}

		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 15px;}
		  .sidenav a {font-size: 18px;}
		}

		.welcome {
			position: absolute;
			top: 10%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.output {
			position: absolute;
			top: 70%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.output2 {
			position: absolute;
			top: 90%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.output3 {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.userInput {
			position: absolute;
			top: 20%;
			left: 50%;
			width: 30%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			transform: translate(-50%, -50%);
		}

		.f1-submit {
			position: absolute;
			top: 30%;
			left: 50%;
			display: inline-block;
			padding: 12px 20px;
			font-size: 24px;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			outline: none;
			color: #fff;
			background-color: #7cd1f9;
			border: none;
			border-radius: 15px;
			box-shadow: 0 9px #999;
			transform: translate(-50%, -50%);
		}

	</style>

</head>