<div id="f1-div" >
	<form id="user-input" method="POST" action="/feature1">
		<input type="text" id="userInput" class="userInput" name="city" placeholder="Enter a city">
		<input type="submit" value="Submit" class="f1-submit">
	</form>
	<p class="output" id="output">{{output}}</p>
</div>