<div id="f1-div" >
	<form id="user-input" method="POST" action="/feature1">
		<input type="text" id="userInput" class="userInput" name="input" placeholder="Enter input">
		<input type="submit" value="Submit" class="f1-submit">
	</form>
	<img src="{{image}}" class="output" id="output"><br>
	<p class="output">{{output}}</p>
</div>