<!DOCTYPE html>
<html>

	{{> header}}

<body style="background-color: white;">

<!-- control panel -->
	{{> control}}


<!-- Main page -->
	{{> main}}


<!-- Open and Close Side Menu -->
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
</html>